<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,900&display=swap" rel="stylesheet">
    <!--Fim Google Fonts-->
    <!--Boostrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Fim Boostrap icons-->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/slide.css">
    <script src="~/js/site.js" defer></script>  
  </head>


<body>
    <!-- Menu -->
    
    <header>
        <!-- Logo da Barra -->
        <div class="interface">
            <div class="logo">
                <a href="#"><img src="img/Logo.png" width="120" alt=""></a>
            </div>

            <nav class="menu">
                <!-- Inicio barra de Navegação -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Missão</a></li>
                    <li><a href="#">Nossos Projetos</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav> <!--Barra de Navegação-->

            <div class="btn-contato">
                <a asp-area="" asp-controller="EditConteudo" asp-action="Index">
                    <button type="submit">Painel</button>
                </a>
            </div><!--Acesso Admin-->
            @inject MestreDigital.Data.UserTokenDal TokenDal

            @if (Context.Request.Cookies["UserToken"] != null && TokenDal.ValidateToken(Context.Request.Cookies["UserToken"]))
            {
                <div class="btn-logout">
                    <a asp-area="" asp-controller="Conta" asp-action="Logout">
                        <button type="submit">Logout</button>
                    </a>
                </div>
            }

        </div><!-- fim interface-->
    </header> <!--Fim Menu -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="interface">
            <div class="line-footer">
                <div class="flex">
                    <div class="logo-footer">
                        <img src="~/img/Logo.png" width="90" alt="Logo do Site">
                    </div>
                    <div class="btn-social">
                        <a href="#"><button><i class="bi bi-whatsapp"></i></button></a>
                        <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                        <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="line-footer borda">
                <p><i class="bi bi-envelope-at-fill"></i> <a href="mailto:mrdigital@gmail.com">mrdigital@gmail.com</a></p>
            </div>
        </div>
    </footer> <!-- FimRodapé-->
</body>
</html>
