<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,900&display=swap" rel="stylesheet">
    <!--Fim Google Fonts-->
    <!--Boostrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Fim Boostrap icons-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slide.css">
    <script src="slide.js" defer></script>
    <title>Mestre Digital</title>
</head>
<body>
       <!-- carrossel -->
    <section class="slider">
        <div class="slider-content">

            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">
            <input type="radio" name="btn-radio" id="radio4">

            <div class="slide-box primeiro">
                <img class="img-desktop" src="img/slide1.jpg" alt="slide 1">
                <img class="img-mobile" src="img/slidem1.jpg" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="img-desktop" src="img/slide2.jpg" alt="slide 2">
                <img class="img-mobile" src="img/slidem2.jpg" alt="slide 2">
            </div>

            <div class="slide-box">
                <img class="img-desktop" src="img/slide3.jpg" alt="slide 3">
                <img class="img-mobile" src="img/slidem3.jpg" alt="slide 3">
            </div>

            <div class="slide-box">
                <img class="img-desktop" src="img/slide4.jpg" alt="slide 4">
                <img class="img-mobile" src="img/slidem4.jpg" alt="slide 4">
            </div>
            <!-- Navegação Automatica -->
            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
            <!-- Fim Navegação Automatica -->
            <!-- Navegação Manual -->
            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
            <!-- Fim Navegação Manual -->
        </div>


    </section><!--Fim carrossel -->

    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="text-topo-site">
                        <h1>Sobre <span>Nós</span></h1>
                        <p>
                            No Mestre Digital, acreditamos que a tecnologia deve ser uma aliada acessível a todos,
                            independentemente de sua idade ou nível de experiência.
                            Nossa história é uma história de dedicação à missão de
                            tornar o mundo digital mais amigável e compreensível para todos.
                        </p>

                        <div class="btn-contato">
                            <a href="https://web.telegram.org/a/#6514778156">
                                <button>Inicie</button>
                            </a>
                        </div>
                    </div><!-- fim text -->
                    <div class="img-topo-site">
                        <img src="img/toposite.png" width="400" height="400" alt="">
                    </div><!-- fim img topo -->
                </div><!-- fim flex -->
            </div><!-- fim interface -->
        </section>  <!-- fim topo do site -->

        <!-- Nossa Missão -->
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="img-topo-site">
                        <img src="img/toposite1.png" width="400" height="400" alt="">
                    </div><!-- fim img topo -->

                    <div class="text-topo-site">
                        <!-- text -->
                        <h1>Nossa <span>Missão</span></h1>
                        <p>
                            Sua satisfação é o nosso principal objetivo.
                            No Mestre Digital, você faz parte de uma comunidade que valoriza o aprendizado e o crescimento no mundo digital.<br>
                            Estamos comprometidos em oferecer suporte e assistência contínuos,
                            assegurando que sua experiência seja tranquila e gratificante.
                        </p>
                    </div><!-- fim text -->
                </div><!-- fim flex -->
            </div><!-- fim interface -->
        </section><!-- Fim Nossa Missão -->

     

    </main>


</body>
</html>