@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,900&display=swap" rel="stylesheet">
    <!--Fim Google Fonts-->
    <!--Boostrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Fim Boostrap icons-->
    <link rel="stylesheet" href="~/css/login.css">
    <!--<link rel="stylesheet" href="~/css/style.css">-->
    <title>Cadastro - Painel Admin</title>
    <style>
         .button {
            padding: 10px 35px;
            font-size: 18px;
            font-weight: 500;
            background-color: rgba(16, 198, 13, 0.662);
            color: white;
            border: 0;
            border-radius: 30px;
            cursor: pointer;
            transition: .2s;
        }

    </style>
</head>
<body>
    <header>
        <!-- Logo da Barra -->
        <div class="interface">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/Logo.png" width="120"></a>
            </div>

            <div class="box-login text-center">
                <div class="box-img text-center">
                    <div class="texto-login"><h2>Cadastro Realizado com Sucesso!</h2></div>
                </div><!-- box-img -->
                <div class="mensagem-sucesso text-center">
                    <p>Seu cadastro foi realizado com sucesso. Seu perfil está em analise, em até 48 horas te enviaremos um email. 
                        Você já pode fazer o login usando suas credenciais, mas não poderá realizar alterações.</p>
                    <a asp-area="" asp-controller="EditConteudo" asp-action="Index" class="text-center">
                        <button class="button" type="submit">Login</button>
                    </a>
                </div>
            </div> <!-- box-login -->
        </div>
    </header>
</body>
</html>
